html {
  font-size: 18px;
  line-height: 1.4px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header-container {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: auto;
}

.top {
  margin: 0 auto;
}

.header {
  background-color: cadetblue;
  padding: 1rem 0;
  top: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 2rem;
}

.logo h1 {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

nav {
  margin-right: 2rem;
}
nav a {
  margin-left: 2rem;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}
.banner {
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2rem;
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 10rem;
  width: 45%;
  margin-left: 20rem;
}

.content-features {
  display: flex;
  margin-top: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6rem;
  height: 8rem;
  width: auto;
}

.features img {
  width: 5rem;
  height: 3.5rem;
  margin: 0 auto;
}

.features span {
  font-family: Helvetica;
  line-height: 1.5rem;
  width: 5rem;
  height: 3.5rem;
  margin: 0 auto;
  text-align: center;
}

.content-middle {
  display: flex;
  justify-content: center;
}

#exception {
  flex-direction: column;
}

.content-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.philosophy,
.appointments {
  width: 35%;
  margin-right: 5%;
}

.philosophy span,
.appointments span {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding-top: 0.5rem;
  padding: 0.5rem 1.25rem;
}

.philosophy p,
.appointments p {
  margin-top: 1rem;
  font-family: Helvetica;
  line-height: 1.5rem;
}


.copyright {
  padding: 4rem 1rem 4rem 4rem;
  background-color: azure;
}

.copyright img {
  height: 1.5rem;
}

@media only screen and (max-width: 960px){


}
